3.2/reparaciones.dtd

<!ELEMENT reparaciones (reparacion)+>
<!ELEMENT reparacion (vehiculo, trabajoRelizado, factura)>
<!ELEMENT vehiculo (matricula, marca, modelo)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT modelo (#PCDATA)>
<!ELEMENT trabajoRelizado (desc, duracion)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT duracion (#PCDATA)>
<!ELEMENT factura (cod, totalAPagar, modoPago)>
<!ELEMENT cod (#PCDATA)>
<!ELEMENT totalAPagar (#PCDATA)>
<!ELEMENT modoPago (#PCDATA)>